.container {
    border-radius: 15px;
    padding: 20px;
    max-width: 600px; /* Wider design for desktop */
    width: 80%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.countdown-section {
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

h2 {
    font-size: 2.5em; /* Larger heading for desktop */
}

#countdown-mains, #countdown-advanced {
    font-size: 2.5em;
    color: #ffeb3b;
}
