body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to right, rgba(123, 0, 255, 0.5), rgba(37, 117, 252, 0.8)),
                url('iit-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 2.8em;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

p.motivational-quote {
    margin-top: 20px;
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
